<div class="header-section">
    <!--top heaer anoucement message-->
    <div class="announcment-msg text-center">
        <div class="announcment-msg__container container">
            <div class="announcment-msg__content">
                <a href="javascript:void(0)" class="close" aria-label="close"
                    aria-describedby="a11y-external-message"><span class="icon">×</span></a>
                <p>Gymuso Apparel uses cookies to offer you a smoother and more personalised experience. By continuing
                    we assume that you are consenting to all cookies on our website.&nbsp;<strong><a href="#"
                            aria-describedby="a11y-external-message">Read more</a></strong></p>
            </div>
        </div>
    </div>

    <!--main header-->
    <header class="site-header">
        <!--header PC-->
        <div class="header-PC">
            <div class="header-PC__container container">

                <div class="header-PC__left--section">
                    <ul class="site-nav row">
                        <li class="dropdown item">
                            <p data-toggle="dropdown" class="nav-action"><a href="#" class="menu-lv-1">New Releases</a>
                            </p>
                            <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                                <div class="row">
                                    <div class="col-md-2">
                                        <p class="nav-action"><strong class="mega-menu__heading" >Dincidunteros</strong>
                                        </p>
                                        <p class="nav-action"><a  routerLink="/collections">Consequatod</a></p>
                                        <p class="nav-action"><a href="#">Loremouticas</a></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="nav-action"><strong class="mega-menu__heading">Comos De
                                                Milano</strong></p>
                                        <p class="nav-action"><a href="#">Consequatod</a></p>
                                        <p class="nav-action"><a href="#">Loremouticas</a></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="nav-action"><strong class="mega-menu__heading">Cosmopolis</strong></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="nav-action"><strong class="mega-menu__heading">Accéssorius</strong>
                                        </p>
                                        <p class="nav-action"><a href="#">Consequatod</a></p>
                                        <p class="nav-action"><a href="#">Loremouticas</a></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="nav-action"><strong class="mega-menu__heading">Editors picks</strong>
                                        </p>

                                        <div class="row product-card">
                                            <img src="../../assets/images/product-new-28-a1_120x180.webp" alt="flower"
                                                class="product-card__image">
                                            <div class=" product-card__content ">
                                                <a href="#" class="product-card__title">Cosmo naminos
                                                    delementum bra</a>
                                                <p class="product-card__price">¥7,465</p>
                                                <p class="product-card__button"><a href="#"
                                                        class="product-card__title">+</a> Add</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown item">
                            <p class="nav-action" data-toggle="dropdown"><a href="#" class="menu-lv-1">Men</a>
                                <span class="icon-label label_1">
                                    new
                                </span>
                            </p>
                            <div class="dropdown-menu mega-menu mega_menu2" aria-labelledby="navbarDropdown">
                                <div class="row">
                                    <div class="col-md-2" style="background:#f5f5f5;">
                                        <p class="nav-action"><strong class="mega-menu__heading">Dincidunteros</strong>
                                        </p>
                                        <p class="nav-action"><a href="#">Consequatod</a></p>
                                        <p class="nav-action"><a href="#">Loremouticas</a></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="nav-action"><strong class="mega-menu__heading">Comos De
                                                Milano</strong></p>
                                        <p class="nav-action"><a href="#">Consequatod</a></p>
                                        <p class="nav-action"><a href="#">Loremouticas</a></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="nav-action"><strong class="mega-menu__heading">Cosmopolis</strong></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="nav-action"><strong class="mega-menu__heading">Accéssorius</strong>
                                        </p>
                                        <p class="nav-action"><a href="#">Consequatod</a></p>
                                        <p class="nav-action"><a href="#">Loremouticas</a></p>
                                        <p class="nav-action"><a href="#">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#">Bibendumetos</a></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="nav-action"><strong class="mega-menu__heading">Editors picks</strong>
                                        </p>

                                        <div class="row product-card">
                                            <img src="../../assets/images/product-new-28-a1_120x180.webp" alt="flower"
                                                class="product-card__image">
                                            <div class=" product-card__content ">
                                                <a href="#" class="product-card__title">Cosmo naminos
                                                    delementum bra</a>
                                                <p class="product-card__price">¥7,465</p>
                                                <p class="product-card__button"><a href="#"
                                                        class="product-card__title">+</a> Add</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown item">
                            <p class="nav-action" data-toggle="dropdown"><a href="#" class="menu-lv-1">women</a></p>
                            <div class="dropdown-menu no-mega-menu">
                                <div class="nav-action sub-menu--main">
                                    <a href="" class="sub-menu--main menu-lv-2">Shop By Catagory</a>
                                    <span class="icon-dropdown">❯</span>
                                    <div class="submenu ">
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Consequatod</a></p>
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Loremouticas</a></p>
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Bibendumetos</a></p>
                                    </div>
                                </div>
                                <p class="nav-action"><a href="" class="sub-menu--main menu-lv-2">Shop By Connection</a>
                                </p>
                                <div class="nav-action sub-menu--main">
                                    <a href="" class="sub-menu--main menu-lv-2">Shop By Catagory</a>
                                    <span class="icon-dropdown">❯</span>
                                    <div class="submenu submenu2">
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Consequatod</a></p>
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Loremouticas</a></p>
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Bibendumetos</a></p>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="dropdown item">
                            <p class="nav-action" data-toggle="dropdown"><a href="#" class="menu-lv-1">Accessories</a>
                                <span class="icon-label label_2">hot</span>
                            </p>
                            <div class="dropdown-menu no-mega-menu">
                                <div class="nav-action sub-menu--main">
                                    <a href="" class="sub-menu--main menu-lv-2">Shop By Catagory</a>
                                    <span class="icon-dropdown">❯</span>
                                    <div class="submenu ">
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Consequatod</a></p>
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Loremouticas</a></p>
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Pellentes Habitanto</a></p>
                                        <p class="nav-action"><a href="#" class="menu-lv-3">Bibendumetos</a></p>
                                    </div>
                                </div>
                                <p class="nav-action"><a href="" class="sub-menu--main menu-lv-2">Shop By Connection</a>
                                </p>
                            </div>

                        </li>
                        <li class="dropdown item">
                            <p class="nav-action"><a class="dots menu-lv-1" href="javascript:void(0)" aria-label="link"
                                    aria-describedby="a11y-external-message">...</a></p>
                            <div class="dropdown-menu no-mega-menu">
                                <div class="nav-action sub-menu--main">
                                    <a href="" class="sub-menu--main menu-lv-2">Shop Outlet</a>
                                    <span class="icon-label label_3">
                                        sale
                                    </span>
                                </div>
                                <p class="nav-action"><a href="" class="sub-menu--main menu-lv-2">Shop By Connection</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <!-- <ul class="mobile-nav ">
                        <li><i class="fas fa-bars"></i></li>
                        <li><i class="fas fa-search"></i></li>
                    </ul> -->
                </div>

                <div class="header-PC__middle--section">
                    <a href="#"><img src="../../assets/images/logo-w.webp" style="width: 130px; max-width: 130px"></a>
                </div>

                <div class="header-PC__right--section ">
                    <ul class="site-nav--right ">
                        <li class="language-dropdown">
                            <div class="dropdown">
                                <div class="dropdown-toggle language_dropdown" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../../assets/images/united-kingdom.svg">
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item lang" href="#">Language</a>
                                    <div class="text-center lang__container">
                                        <div class="img row ">
                                            <img src="../../assets/images/united-kingdom.svg">
                                            <span>EN</span>
                                        </div>
                                        <div class="img row">
                                            <img src="../../assets/images/germany.svg">
                                            <span>DE</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="Currency-dropdown">
                            <div class="dropdown">
                                <div class="dropdown-toggle language_dropdown jpy" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    | &nbsp;&nbsp;<span class="jpy__label">JPY &nbsp;&nbsp; <i
                                            class="fas fa-angle-down"></i></span>
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item lang" href="#">Currency</a>
                                    <div class="text-center lang__container">
                                        <div class="lang_img row ">
                                            <img data-value="usa" src="../../assets/images/united-states.svg">
                                            <span>USA</span>
                                        </div>
                                        <div class="lang_img row">
                                            <img src="../../assets/images/germany.svg">
                                            <span>DE</span>
                                        </div>

                                    </div>
                                    <div class="text-center lang__container">
                                        <div class=" row ">
                                            <img src="../../assets/images/germany.svg">
                                            <span>EN</span>
                                        </div>
                                        <div class="row">
                                            <img src="../../assets/images/united-kingdom.svg">
                                            <span>EN</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="login-dropdown dropdown ">
                            <span class="user dropdown-toggle " id="navbarDropdownLbl" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user "></i>
                            </span>

                            <div class="login-form login-w col dropdown-menu " aria-labelledby="navbarDropdownLbl">
                                <div class="login-form__header row">
                                    <p>Customer Login</p>
                                    <a href="javascript:void(0)" class="login-form__header__close">×</a>
                                </div>
                                <form action="#" class="login-form__content">
                                    <div class="form-field">
                                        <label class="form-label">
                                            Email
                                            <em class="text-danger">*</em>
                                        </label>
                                        <input id="customer_email" class="form-control" type="email" value=""
                                            name="email" placeholder="Email">
                                    </div>

                                    <div class="form-field">
                                        <label class="form-label">
                                            Password
                                            <em class="text-danger">*</em>
                                        </label>
                                        <input id="customer_pass" class="form-control" type="password" value=""
                                            name="password" placeholder="password">
                                    </div>
                                    <div class="form-actions text-center ">
                                        <input type="submit" class="btn btn--secondary btn-login " value="LOGIN">
                                        <a class="forgot-password" href="#" aria-label="forgot password">
                                            Forgot your password?
                                        </a>
                                        <a class="btn-login btn-create-account" href="#" aria-label="register">Create An
                                            Account</a>
                                    </div>
                                </form>
                            </div>

                        </li>

                        <li class="cart-icon">
                            <i class="fas fa-shopping-cart"></i>
                        </li>
                        <li class="form-search">
                            <form>
                                <input class="form-control" type="text" placeholder="SEARCH" aria-label="Search">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--- Mobile header -->
        <div class="header-mobile">
            <div class="header-mobile__container row">
                <div class="header-mobile__left">
                    <ul class="mobile-nav row">
                        <li><i class="fas fa-bars"></i></li>
                        <li><i class="fas fa-search"></i></li>
                    </ul>
                </div>
                <div class="header-mobile__middle">
                    <a href="#"><img src="../../assets/images/logo-w.webp" style="width: 130px; max-width: 130px"></a>
                </div>
                <div class="header-mobile__right">
                    <ul class="mobile-nav row">
                        <li><i class="far fa-user "></i></li>
                        <div class="login-form login-w col dropdown-menu " style="display: none"
                            aria-labelledby="navbarDropdownLbl">
                            <div class="login-form__header row">
                                <p>Customer Login</p>
                                <a href="javascript:void(0)" class="login-form__header__close">×</a>
                            </div>
                            <form action="#" class="login-form__content">
                                <div class="form-field">
                                    <label class="form-label">
                                        Email
                                        <em class="text-danger">*</em>
                                    </label>
                                    <input id="customer_email" class="form-control" type="email" value="" name="email"
                                        placeholder="Email">
                                </div>

                                <div class="form-field">
                                    <label class="form-label">
                                        Password
                                        <em class="text-danger">*</em>
                                    </label>
                                    <input id="customer_pass" class="form-control" type="password" value=""
                                        name="password" placeholder="password">
                                </div>
                                <div class="form-actions text-center ">
                                    <input type="submit" class="btn btn--secondary btn-login " value="LOGIN">
                                    <a class="forgot-password" href="#" aria-label="forgot password">
                                        Forgot your password?
                                    </a>
                                    <a class="btn-login btn-create-account" href="#" aria-label="register">Create An
                                        Account</a>
                                </div>
                            </form>
                        </div>
                        <li><i class="fas fa-shopping-cart"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="announcments_slider">
        <div class="slider">
                <div class="slider-text1">Free shipping on all orders. No minimum purchases*</div>
                <div class="slider-text3">Free shipping on all orders. No minimum purchases*</div>
                <div class="slider-text3">Free Domestic Shipping on all orders over $149</div>
                <div class="slider-text3">Free Domestic Shipping on all orders over $149</div>
           </div>
</div>
