// @font-face{
//     font-family: "gillsans light" ,sans-serif;
//     src: url('../fonts/gillsans-light.woff') format("woff");
// }
@font-face{
    font-family: 'Rajdhani', sans-serif;
    font-display: auto;
    src: local( 'Rajdhani' ), url(./Rajdhani-Bold.ttf) format('ttf');
}
// @font-face{
//     font-family: "Rajdhani", sans-serif;
//     font-display: auto;
//     src: local( 'Rajdhani' ), url(../fonts/rajdhani_n6.066a284bfad55e8b31bfbe29aade2075d0b04665.woff2) format('woff2');
// }

@font-face{
    font-family: "Arimo",sans-serif;
    font-display: auto;
    src: local( 'Arimo' ), url(./arimo_n4.37b74ffdd8f32b386933afc2f690ab2b837c67d4.woff2) format('woff2');
}


// @font-face {
//     font-family: 'Avenir Black' ;
//     font-display: auto;
//    src: local( 'Avenir Black' ), url(assets/fonts/AvenirLTStd-Black.otf) format('otf');
// }