<div class="collection">
    <div class="collection__wrapper">
        <div class="collection__banner-image">
            <a href="#"><img src="../../assets/images/banner-hero-2.webp"></a>
        </div>
        <div class="collection__heading">
            <h1 class="collection__heading--title">DINCIDUNTERO</h1>
            <p class="collection__heading--description">
                Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam
                dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des
                commodo pharetras loremos
            </p>
        </div>
        <div class="collection__toolbar container">
            <div class="collection__toolbar--left">
                <div class="filter pr-2">
                    <i class="fas fa-filter pr-2"></i>
                    <span>Filter</span>
                </div>
                <div class="select-color pr-2">
                    <div class="multiselect__selectBox dropdown">
                        <button class=" dropdown-toggle mr-4  btn-color" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">COLOR</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox1">
                                    <label class="custom-control-label" for="checkbox1">Check me</label>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="multiselect pr-2">
                    <div class="multiselect__selectBox dropdown">
                        <button class=" dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">PRICES</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox1">
                                    <label class="custom-control-label" for="checkbox1">$69.00 - $100.00</label>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox2">
                                    <label class="custom-control-label" for="checkbox1">$69.00 - $100.00</label>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collection__toolbar--right">
                <div class="sortby pr-2">
                    <i class="fas fa-sort-amount-down-alt pr-2"></i>
                    <span>Sort By</span>
                </div>

                <div class="multiselect pr-2">
                    <div class="multiselect__selectBox dropdown">
                        <button class=" dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">BEST SELLING </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox3">
                                    <label class="custom-control-label" for="checkbox1">Check me</label>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox4">
                                    <label class="custom-control-label" for="checkbox1">Check me</label>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collection__product">
            <div class="collection__product--container container">
                <div class="col-md-12 ">
                    <div class="row product-wrapper">
                        <div class="product-container col-md-6 col-lg-3 col-sm-6 col-11">
                            <div class="product_card">
                                <div class=" product_card__image">
                                  <a href="collections/product-name" ><img id="expandedImg" src="../../assets/images/product-new-17.jpg"></a>
                                    <div class="popup-btn">+ quick more</div>
                                    <div class="product_card__label">
                                        <a class="product_card--wishlist">
                                            <i class="far fa-heart"></i>
                                        </a>
                                        <a class="product_card--quickview">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class=" product_card__description">
                                    <div class="d-flex">
                                        <h6><a href="#">Delementum milancelos preteus tomuir</a></h6>
                                        <span class="variant-name">medium purple</span>
                                    </div>
                                    <div class="price"><del>from $69.0 </del><span>$102.00</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="product-container col-md-6 col-lg-3 col-sm-6 col-11 ">
                            <div class="product_card">
                                <div class=" product_card__image">
                                    <img id="expandedImg" src="../../assets/images/product-new-17.jpg">
                                    <div class="popup-btn">+ quick more</div>
                                    <div class="product_card__label">
                                        <a class="product_card--wishlist">
                                            <i class="far fa-heart"></i>
                                        </a>
                                        <a class="product_card--quickview">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class=" product_card__description">
                                    <div class="d-flex">
                                        <h6><a href="#">Delementum milancelos preteus tomuir</a></h6>
                                        <span class="variant-name">medium purple</span>
                                    </div>
                                    <div class="price"><del>from $69.0 </del><span>$102.00</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="product-container col-md-6 col-lg-3  col-sm-6 col-11 ">
                            <div class="product_card">
                                <div class=" product_card__image">
                                    <img id="expandedImg" src="../../assets/images/product-new-17.jpg">
                                    <div class="popup-btn">+ quick more</div>
                                    <div class="product_card__label">
                                        <a class="product_card--wishlist">
                                            <i class="far fa-heart"></i>
                                        </a>
                                        <a class="product_card--quickview">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class=" product_card__description">
                                    <div class="d-flex">
                                        <h6><a href="#">Delementum milancelos preteus tomuir</a></h6>
                                        <span class="variant-name">medium purple</span>
                                    </div>
                                    <div class="price"><del>from $69.0 </del><span>$102.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>