<ng-template #navigation_template>
    <div id="mySidenav" class="side-navigation menu d-md-none ">
      <a href="javascript:void(0)" class="side-navigation__closebtn" onclick="closeNav()"> </a>
      <nav>
          <ul class="side-navigation__content">
              <li class="dropdown-item">
                  <a href="#">
                      <span>New Releases</span>
                      <span class="dropdown-item__icon" onclick="opendrop()"><i class="fa fa-angle-right"
                              aria-hidden="true"></i></span>
                  </a>
              </li>
              <li class="dropdown-item">
                  <a href="#">
                      <span> MEN NEW</span>
                      <span class="dropdown-item__icon" onclick="opendrop2()"><i class="fa fa-angle-right"
                              aria-hidden="true"></i></span>
                  </a>
              </li>
              <li class="dropdown-item">
                  <a href="#">
                      <span>women</span>
                      <span class="dropdown-item__icon"  onclick="opendrop3()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  </a>
              </li>
              <li class="dropdown-item">
                  <a href="#">
                      <span>accessories hot</span>
                      <span class="dropdown-item__icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  </a>
              </li>
              <li class="dropdown-item">
                <a href="#">
                    <span>shop outlet sale</span>
                    <span class="dropdown-item__icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span class="icon_user"><i class="far fa-user"></i></span>
                    <span>Customer Login</span>
                </a>
            </li>
            <li class="dropdown-item">
                    <a href="#">
                        <span class="icon_user"><i class="far fa-heart"></i></span>
                        <span>wishlist</span>
                    </a>
                </li>
          </ul>
          <div class="side-navigation__currency">
                <a href="#">
                    <p class="currency_heading">currency</p>
                    <div class="text-center lang__container">
                        <div class="img-container row ">
                            <img src="../../assets/images/united-kingdom.svg">
                            <span>EN</span>
                        </div>
                        <div class="img-container row">
                            <img src="../../assets/images/germany.svg">
                            <span>DE</span>
                        </div>
                    </div>
                    <div class="text-center lang__container">
                            <div class="img-container row ">
                                <img src="../../assets/images/united-kingdom.svg">
                                <span>EN</span>
                            </div>
                            <div class="img-container row">
                                <img src="../../assets/images/germany.svg">
                                <span>DE</span>
                            </div>
                        </div>
                </a>
            </div>
            <div class="side-navigation__currency">
                    <a href="#">
                        <p class="currency_heading">Sprache</p>
                        <div class="text-center lang__container">
                            <div class="img-container row ">
                                <img src="../../assets/images/united-kingdom.svg">
                                <span>EN</span>
                            </div>
                            <div class="img-container row">
                                <img src="../../assets/images/germany.svg">
                                <span>DE</span>
                            </div>
                        </div>
                    </a>
                </div>
      </nav>
   
      <div id="mydrop" class="openmenu2">
          <div class="title">
              <span class="title__icon" onclick="closedrop()">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
              </span>
              <span>  New Releases </span>
          </div>
          <ul class="side-navigation__content">
              <li class="dropdown-item">
                  <a href="#">
                      <span>Lawn</span>
                  </a>
              </li>
              <li class="dropdown-item">
                  <a href="#">
                      <span> Villette</span>
                  </a>
              </li>
              <li class="dropdown-item">
                  <a href="#">
                      <span>Tresor</span>
                  </a>
              </li>
              <li class="dropdown-item">
                  <a href="#">
                      <span>Tissue De Luxe</span>
                  </a>
              </li>
              <li class="dropdown-item">
                    <a href="#">
                        <span>Tissue De Luxe</span>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a href="#">
                        <span>Tissue De Luxe</span>
                    </a>
                </li>
                <li class="dropdown-item">
                        <a href="#">
                            <span>Tissue De Luxe</span>
                        </a>
                    </li>
              <!-- <div class="container" style="text-align: center;"> -->
                  <!-- <img src="../../assets/images/mobile-bnner.jpg" class="sideimg"> -->
                  <!-- <p>Capsule collections you won’t find elsewhere</p>
                  <button class="shop_now">shop now </button>
              </div> -->

  
          </ul>
      </div>
  
      <div id="mydrop2" class="openmenu2">
          <div class="title">
              <span class="title__icon" onclick="closedrop2()">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
              </span>
              <span>Élan Vital</span>
          </div>
          <ul class="side-navigation__content">
              <li class="dropdown-item">
                  <a href="#">
                      <span>Vital</span>
                  </a>
              </li>
              <li class="dropdown-item">
                  <a href="#">
                      <span> Indigene</span>
                  </a>
              </li>
              <li class="dropdown-item">
                  <a href="#">
                      <span>Essentials</span>
                  </a>
              </li>
              <div class="container" style="text-align: center;">
                  <!-- <img src="../../assets/images/mslider.webp" class="sideimg" width="100%;"> -->
                  <p>Our trendy daywear line</p>
                  <button class="shop_now">shop now </button>
              </div>
  
          </ul>
      </div>
      <div id="mydrop3" class="openmenu2">
        <div class="title">
            <span class="title__icon" onclick="closedrop3()">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </span>
            <span>Prêt-à-Porter</span>
        </div>
        <ul class="side-navigation__content">
            <li class="dropdown-item">
                <a href="#">
                    <span>Le Grand Amour</span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <span> Claire De Lune</span>
                </a>
            </li>
            <div class="container" style="text-align: center;">
                <!-- <img src="../../assets/images/mb3.webp" class="sideimg" width="100%;"> -->
                <p >Capsule collections you won’t find elsewhere</p>
                <button class="shop_now">shop now </button>
            </div>
  
        </ul>
    </div>
  </div>
  </ng-template>
  
  <ng-container *ngTemplateOutlet="navigation_template"></ng-container>