<div class="product-page">
    <div class="product-page__container container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 col-sm-12 product-page__left">
                    <div class="product-page__left--image">
                        <img src="../../assets/images/product-new-17-a1.webp">
                    </div>
                    <div class="product-page__left--description">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                    role="tab" aria-controls="nav-home" aria-selected="true">DESCRIPTION</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                    role="tab" aria-controls="nav-profile" aria-selected="false"> CUSTOMER REVIEWS</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                    role="tab" aria-controls="nav-contact" aria-selected="false">SHIPPING / RETURNS</a>
                                <a class="nav-item nav-link" id="nav-contact-tab1" data-toggle="tab" href="#nav-contact1"
                                    role="tab" aria-controls="nav-contact" aria-selected="false"> CUSTOM TAB</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="description_tab pt-4">
                                    <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos. Donec pretium egestas sapien an mollis. Suspendisse vestibulum lectus in lectus volutpat danos dapibus purus pulvinar.</p>
                                    <h3>Sample Unordered List</h3>
                                    <ul>
                                    <li>Comodous in tempor ullamcorper miaculis.</li>
                                    <li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
                                    <li>Divamus sit amet purus justo.</li>
                                    </ul>
                                    <h3>Sample Ordered List</h3>
                                    <ol>
                                    <li>Comodous in tempor ullamcorper miaculis.</li>
                                    <li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
                                    <li>Divamus sit amet purus justo.</li>
                                    </ol>
                                    <h3>Sample Block Quote</h3>
                                    <blockquote class="blockquote"><q>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos. </q></blockquote>
                                    <h3>Sample Paragraph Text</h3>
                                    <p>Cras suscipit quam et turpis eleifend vitae malesuada magna congue. Damus id ullamcorper neque. Sed vitae mi a mi pretium aliquet ac sed elitos. Pellentesque nulla eros accumsan quis justo at tincidunt lobortis denimes loremous. Suspendisse vestibulum lectus in lectus volutpat, ut dapibus purus pulvinar. Vestibulum sit amet auctor ipsum. Proin molestie egestas orci ac suscipit risus posuere loremous. &nbsp;</p>
                                </div>
                            </div>
                            <div class="tab-pane fade review_tab" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                <p>no review yet</p>
                                <button type="button" class="write_review">write a review</button>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                aria-labelledby="nav-contact-tab">
                                bye
                            </div>
                            <div class="tab-pane fade" id="nav-contact1" role="tabpanel"
                                aria-labelledby="nav-contact-tab1">
                                bye1
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 product-page__right mt-4">
                    <div class="product-page__right--title">
                        <h2>SEDIAN VITAEN MI PRETIUM ALIQUET</h2>
                    </div>
                    <div class="product-page__right--decription text-center">
                        <div class="review-star text-center row">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <p>NO reviews</p>
                            <p class="product-sold">15 sold in last 16 hours</p>
                        </div>
                        <div class="product__meta text-center">
                            <div class="product__meta--item product__vendor">
                                <label class="pr-2">Brand:</label>
                                <span><a href="" title="Donatello">Donatello</a></span>
                            </div>
                            <div class="product__meta--item product__sku">
                                <label>Product Code:</label>
                                <span class="variant-sku">QW23-568RT</span>
                            </div>
                            <div class="product__meta--item product__inventory">
                                <label>availability:</label>
                                <span class="variant-inventory variant-inventory--true">
                                    <!-- <span class="out_of_stock">Out of stock</span> -->
                                    <span class="many_in_stock">Many in stock</span>
                                </span>
                            </div>
                        </div>
                        <div class="product__price text-center">
                            <div class="product-card__price price--on-sale">
                                <span class="price-item price-item--regular">
                                    <span class="money" data-currency-usd="$115.00">$115.00</span>
                                </span>
                                <span class="price-item price-item--sale">
                                    <span class="money" data-currency-usd="$102.00">$102.00</span>
                                </span>
                            </div>
                        </div>
                        <div class="product__short-description text-center">
                            Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis.
                            Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an
                            sullamcorper...
                        </div>
                        <form action="#" method="" >
                            <h3>Quantity</h3>
                            <input type="text" id="Quantity-product-template-2" name="quantity" value="1" min="1"
                                pattern="[0-9]*">
                            <div class="price">Subtotal <span>$102.00</span></div>
                            <div class="product-btn row">
                                <button type="button">ADD TO CART</button>
                                <button type="button">ADD TO WISHLIST</button>
                            </div>
                            <button type="button" class="buy-it-now  mt-2 mb-2">BUY IT NOW</button><br>
                            <label class="checkbox">
                                <input type="checkbox" value="">I agree with the Terms &amp; conditions
                            </label>
                            <div id="customers-view" class="product__customers-view"
                                data-customer-view="283, 100, 59, 11, 14, 185, 193, 165, 50, 38, 99, 112, 46, 10, 125, 200, 250, 18">
                                <span>112 customers are viewing this product</span>
                            </div>
                            <div class="social-icons1 row mt-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-1"
                                    class="at-icon at-icon-facebook"
                                    style="fill: rgb(34, 34, 34); width: 16px; height: 16px;">
                                    <title id="at-svg-facebook-1">Facebook</title>
                                    <g>
                                        <path
                                            d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"
                                            fill-rule="evenodd"></path>
                                    </g>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 32 32" version="1.1" role="img"
                                    aria-labelledby="at-svg-pinterest_share-3" class="at-icon at-icon-pinterest_share"
                                    style="fill: rgb(34, 34, 34); width: 16px; height: 16px;">
                                    <title id="at-svg-pinterest_share-3">Pinterest</title>
                                    <g>
                                        <path
                                            d="M7 13.252c0 1.81.772 4.45 2.895 5.045.074.014.178.04.252.04.49 0 .772-1.27.772-1.63 0-.428-1.174-1.34-1.174-3.123 0-3.705 3.028-6.33 6.947-6.33 3.37 0 5.863 1.782 5.863 5.058 0 2.446-1.054 7.035-4.468 7.035-1.232 0-2.286-.83-2.286-2.018 0-1.742 1.307-3.43 1.307-5.225 0-1.092-.67-1.977-1.916-1.977-1.692 0-2.732 1.77-2.732 3.165 0 .774.104 1.63.476 2.336-.683 2.736-2.08 6.814-2.08 9.633 0 .87.135 1.728.224 2.6l.134.137.207-.07c2.494-3.178 2.405-3.8 3.533-7.96.61 1.077 2.182 1.658 3.43 1.658 5.254 0 7.614-4.77 7.614-9.067C26 7.987 21.755 5 17.094 5 12.017 5 7 8.15 7 13.252z"
                                            fill-rule="evenodd"></path>
                                    </g>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-1"
                                    class="at-icon at-icon-facebook"
                                    style="fill: rgb(34, 34, 34); width: 16px; height: 16px;">
                                    <title id="at-svg-facebook-1">Facebook</title>
                                    <g>
                                        <path
                                            d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"
                                            fill-rule="evenodd"></path>
                                    </g>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 32 32" version="1.1" role="img"
                                    aria-labelledby="at-svg-pinterest_share-3" class="at-icon at-icon-pinterest_share"
                                    style="fill: rgb(34, 34, 34); width: 16px; height: 16px;">
                                    <title id="at-svg-pinterest_share-3">Pinterest</title>
                                    <g>
                                        <path
                                            d="M7 13.252c0 1.81.772 4.45 2.895 5.045.074.014.178.04.252.04.49 0 .772-1.27.772-1.63 0-.428-1.174-1.34-1.174-3.123 0-3.705 3.028-6.33 6.947-6.33 3.37 0 5.863 1.782 5.863 5.058 0 2.446-1.054 7.035-4.468 7.035-1.232 0-2.286-.83-2.286-2.018 0-1.742 1.307-3.43 1.307-5.225 0-1.092-.67-1.977-1.916-1.977-1.692 0-2.732 1.77-2.732 3.165 0 .774.104 1.63.476 2.336-.683 2.736-2.08 6.814-2.08 9.633 0 .87.135 1.728.224 2.6l.134.137.207-.07c2.494-3.178 2.405-3.8 3.533-7.96.61 1.077 2.182 1.658 3.43 1.658 5.254 0 7.614-4.77 7.614-9.067C26 7.987 21.755 5 17.094 5 12.017 5 7 8.15 7 13.252z"
                                            fill-rule="evenodd"></path>
                                    </g>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-2"
                                    class="at-icon at-icon-twitter"
                                    style="fill: rgb(34, 34, 34); width: 16px; height: 16px;">
                                    <title id="at-svg-twitter-2">Twitter</title>
                                    <g>
                                        <path
                                            d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"
                                            fill-rule="evenodd"></path>
                                    </g>
                                </svg> <svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1"
                                    role="img" aria-labelledby="at-svg-twitter-2" class="at-icon at-icon-twitter"
                                    style="fill: rgb(34, 34, 34); width: 16px; height: 16px;">
                                    <title id="at-svg-twitter-2">Twitter</title>
                                    <g>
                                        <path
                                            d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"
                                            fill-rule="evenodd"></path>
                                    </g>
                                </svg>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>